<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @login.nombre %>
</p>

<p>
  <b>Clave:</b>
  <%= @login.clave %>
</p>


<%= link_to 'Edit', edit_login_path(@login) %> |
<%= link_to 'Back', logins_path %>
