<p id="notice"><%= notice %></p>

<p>
  <b>Comentario:</b>
  <%= @comment.comentario %>
</p>

<p>
  <b>Calificacion:</b>
  <%= @comment.calificacion %>
</p>

<p>
  <b>Tournament:</b>
  <%= @comment.tournament %>
</p>

<p>
  <b>User:</b>
  <%= @comment.user %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
