<p id="notice"><%= notice %></p>

<p>
  <b>Tournament:</b>
  <%= @member.tournament.nombre %>
</p>

<p>
  <b>User:</b>
  <%= @member.user.nombre %>
</p>

<p>
  <b>Ganador:</b>
  <%= @member.ganador %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
