<h1>Listing tournaments</h1>

<table border="1">
  <tr>
    <th>Nombre</th>
    <th>Cantidad de Participantes</th>
    <th>Local</th>
    <th>Fecha y Hora</th>
    <th>Estado</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tournaments.each do |tournament| %>
  <tr>
    <td><%= tournament.nombre %></td>
    <td><%= tournament.cantparti %></td>
    <td><%= tournament.local.nombre %></td>
    <td><%= tournament.fechahora %></td>
    <td><%= tournament.estado %></td>
    <td><%= link_to 'Show', tournament %></td>
    <td><%= link_to 'Edit', edit_tournament_path(tournament) %></td>
    <td><%= link_to 'Destroy', tournament, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tournament', new_tournament_path %>
